<h1>buri</h1>
<ul id="posts">
  {{#each postList}}
    <li>
      {{this.user.displayName}}
      <form action="/edit_post" method="get" style="display: inline">
        <input type="text" name="edit_content" value="{{this.message}}" />
        <input type="hidden" value={{this.id}} name="post_id" />
        <input type="submit" value="編集" />
      </form>
      <form action="/delete_post" method="get" style="display: inline">
        <input type="hidden" value={{this.id}} id="post" name="post_id" />
        <input type="submit" value="削除" />
      </form>
    </li>
  {{/each}}
</ul>
<form action="/add_post" method="get">
  <select name="user" id="user-select">
    {{#each users}}
      <option value="{{this.id}}">{{this.displayName}}</option>
    {{/each}}
  </select>
  <input
    type="text"
    id="post"
    name="post"
    required
    minlength="1"
    maxlength="1000"
    size="30"
  />
  <input type="submit" value="送信" />
</form>

<script src="/javascripts/index.js"></script>